### NLP + SQL

#### SET DATABASE

In [3]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('Chinook.db')
cursor = conn.cursor()

In [4]:
with open('E:/Repos/IA/NLP-SQL/Chinook.sql', 'r', encoding='utf-8') as file:
    sql_script = file.read()

In [5]:
cursor.executescript(sql_script)
conn.commit()

#### DATABASE TEST

In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

#### Inicio de servicio vertaxai + configuracion.

In [3]:
import vertexai
import os

vertexai.init(
    project="gen-lang-client-0730997933",
    location="us-central1"
)

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'gen-lang-client-0730997933-9e99e8511560.json'

#### Modelos

In [4]:
from dotenv import load_dotenv
import os
from langchain_google_vertexai import ChatVertexAI

load_dotenv()

GOOGLE_API_KEY = os.getenv('GOOGLE_API_KEY')

os.environ["GOOGLE_API_KEY"] = GOOGLE_API_KEY

llm = ChatVertexAI(model="gemini-1.5-pro-002")

#### Chain NL -> SQL

In [5]:
from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question": "las las canciones AC/DC agrupadas por album y el total de canciones en cada uno de ellos, dame solo la consulta como tal sin markdown ni otro ccontenido agregado."})

In [6]:
response

'SELECT "T"."AlbumId", COUNT(*) FROM "Track" AS "T" INNER JOIN "Album" AS "A" ON "T"."AlbumId" = "A"."AlbumId" INNER JOIN "Artist" AS "AR" ON "A"."ArtistId" = "AR"."ArtistId" WHERE "AR"."Name" = \'AC/DC\' GROUP BY "T"."AlbumId"'

In [7]:
db.run(response)

'[(1, 10), (4, 8)]'

In [8]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)
chain = write_query | execute_query
chain.invoke({"question": "las canciones AC/DC agrupadas por album y el total de canciones en cada uno de ellos, dame solo la consulta como tal sin markdown ni otro ccontenido agregado."})

'[(1, 10), (4, 8)]'

#### Agent

In [9]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [10]:
agent_executor.invoke(
    "List the total sales per country. Which country's customers spent the most?"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Invoice'}`
responded: The Invoice table sounds like it could have sales information.  Let me check the schema.


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10'}`


```sql
SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10
```

Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 4.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..
Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 4.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..
Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 4.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..
Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 8.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..
Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 10.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..

Invoking: `sql_db_query` with `{'query': 'SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 10'}`


[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62)]Here are the total sales per country, ordered from most to least:
USA: $523.06
Canada: $303.96
France: $195.10
Brazil: $190.10
Germany: $156.48
United Kingdom: $112.86
Czech Republic: $90.24
Portugal: $77.24
India: $75.26
Chile: $46.62

Customers from the USA spent the most.


> Finished chain.

{'input': "List the total sales per country. Which country's customers spent the most?",
 'output': 'Here are the total sales per country, ordered from most to least:\nUSA: $523.06\nCanada: $303.96\nFrance: $195.10\nBrazil: $190.10\nGermany: $156.48\nUnited Kingdom: $112.86\nCzech Republic: $90.24\nPortugal: $77.24\nIndia: $75.26\nChile: $46.62\n\nCustomers from the USA spent the most.\n'}

#### Examples

In [11]:
examples = [
    {"input": "List all artists.", "query": "SELECT * FROM Artist;"},
    {
        "input": "Find all albums for the artist 'AC/DC'.",
        "query": "SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');",
    },
    {
        "input": "List all tracks in the 'Rock' genre.",
        "query": "SELECT * FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = 'Rock');",
    },
    {
        "input": "Find the total duration of all tracks.",
        "query": "SELECT SUM(Milliseconds) FROM Track;",
    },
    {
        "input": "List all customers from Canada.",
        "query": "SELECT * FROM Customer WHERE Country = 'Canada';",
    },
    {
        "input": "How many tracks are there in the album with ID 5?",
        "query": "SELECT COUNT(*) FROM Track WHERE AlbumId = 5;",
    },
    {
        "input": "Find the total number of invoices.",
        "query": "SELECT COUNT(*) FROM Invoice;",
    },
    {
        "input": "List all tracks that are longer than 5 minutes.",
        "query": "SELECT * FROM Track WHERE Milliseconds > 300000;",
    },
    {
        "input": "Who are the top 5 customers by total purchase?",
        "query": "SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;",
    },
    {
        "input": "Which albums are from the year 2000?",
        "query": "SELECT * FROM Album WHERE strftime('%Y', ReleaseDate) = '2000';",
    },
    {
        "input": "How many employees are there",
        "query": 'SELECT COUNT(*) FROM "Employee"',
    },
]

#### Example Selector

In [2]:
from langchain_huggingface import HuggingFaceEmbeddings

model_name = "sentence-transformers/all-mpnet-base-v2"
model_kwargs = {'device': 'cpu'}
encode_kwargs = {'normalize_embeddings': False}
hf = HuggingFaceEmbeddings(
    model_name=model_name,
    model_kwargs=model_kwargs,
    encode_kwargs=encode_kwargs
)

e:\Repos\IA\NLP-SQL\nl-sql-env\Lib\site-packages\transformers\tokenization_utils_base.py:1617: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be deprecated in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [13]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    hf,
    FAISS,
    k=5,
    input_keys=["input"],
)

#### Mejorando el Prompt

In [14]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:"""

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix,
    suffix="",
)

In [15]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)

In [16]:
prompt_val = full_prompt.invoke(
    {
        "input": "How many artists are there",
        "top_k": 5,
        "dialect": "SQLite",
        "agent_scratchpad": [],
    }
)
print(prompt_val.to_string())

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:

User input: List all artists.
SQL query: SELECT * FROM Artist;

User input: How many tracks are there in the album with ID 5?
SQL query: SELECT COUNT(*) FROM Track WHERE AlbumId = 5;

User input: Which albums are from the year 2000?
SQL query: SELECT * FROM Album WHERE strftime('%Y', ReleaseDate) = '2000';

User input: Find all albums for the artist 'AC/DC'.
SQL query: SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');

User input: How many employees are there
SQL query: SELECT COUNT(*) FROM "Employee"
Human: How many artists are there

In [17]:
agent = create_sql_agent(
    llm=llm,
    db=db,
    prompt=full_prompt,
    verbose=True,
    agent_type="openai-tools",
)

In [18]:
response = agent.invoke({"input": "todos los artistas y el numero total de canciones que poseen"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{'tool_input': ''}`


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Artist, Track'}`



CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT T1.Name, COUNT(T2.TrackId) FROM Artist AS T1 INNER JOIN Album AS T2 ON T1.ArtistId = T2.ArtistId INNER JOIN Track AS T3 ON T2.AlbumId = T3.AlbumId GROUP BY T1.Name'}`


```sql
SELECT T1.Name, COUNT(T3.TrackId) FROM Artist AS T1 INNER JOIN Album AS T2 ON T1.ArtistId = T2.ArtistId INNER JOIN Track AS T3 ON T2.AlbumId = T3.AlbumId GROUP BY T1.Name
```
Invoking: `sql_db_query` with `{'query': 'SELECT T1.Name, COUNT(T3.TrackId) FROM Artist AS T1 INNER JOIN Album AS T2 ON T1.ArtistId = T2.ArtistId INNER JOIN Track AS T3 ON T2.AlbumId = T3.AlbumId GROUP BY T1.Name'}`


[('AC/DC', 18), ('Aaron Copland & London Symphony Orchestra', 1), ('Aaron Goldberg', 1), ('Academy of St. Martin in the Fields & Sir Neville Marriner', 2), ('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 1), ('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 1), ('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 1), ('Accept', 4), ('Adrian Leaper & Doreen de Feis', 1), ('Aerosmith', 15), ('Aisha Duo', 2), ('Alanis Morissette', 13), ('Alberto Turco & Nova Schola Gregoriana', 1), ('Alice In Chains', 12), ('Amy Winehouse', 23), ('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 1), ('Antal Doráti & London Symphony Orchestra', 1), ('Antônio Carlos Jobim', 31), ('Apocalyptica', 8), ('Aquaman', 1), ('Audioslave', 40), ('BackBeat', 12), ('Barry Wordsworth & BBC Concert Orchestra', 1), ('Battlestar Galactica', 20), ('Battlestar Galactica (Classic)', 24), ('Berliner Philharmoniker & Hans Rosbaud', 1), ('Berliner Philharmoniker & Herbert Von Karajan', 3), ('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 1), ('Billy Cobham', 8), ('Black Label Society', 18), ('Black Sabbath', 17), ('Body Count', 17), ('Boston Symphony Orchestra & Seiji Ozawa', 1), ('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 1), ('Bruce Dickinson', 11), ('Buddy Guy', 11), ('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 1), ('Caetano Veloso', 21), ('Cake', 1), ('Calexico', 1), ("Charles Dutoit & L'Orchestre Symphonique de Montréal", 1), ('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 1), ('Chicago Symphony Orchestra & Fritz Reiner', 1), ('Chico Buarque', 34), ('Chico Science & Nação Zumbi', 36), ('Choir Of Westminster Abbey & Simon Preston', 1), ('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 1), ('Chris Cornell', 14), ("Christopher O'Riley", 1), ('Cidade Negra', 31), ('Cláudio Zoli', 10), ('Creedence Clearwater Revival', 40), ('Cássia Eller', 30), ('David Coverdale', 12), ('Deep Purple', 92), ('Def Leppard', 16), ('Dennis Chambers', 9), ('Djavan', 26), ('Dread Zeppelin', 1), ('Ed Motta', 14), ('Edo de Waart & San Francisco Symphony', 1), ('Elis Regina', 14), ('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 1), ('Emerson String Quartet', 1), ('English Concert & Trevor Pinnock', 2), ('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', 1), ('Eric Clapton', 48), ('Eugene Ormandy', 3), ('Faith No More', 52), ('Falamansa', 14), ('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 1), ('Foo Fighters', 44), ('Frank Sinatra', 24), ('Frank Zappa & Captain Beefheart', 9), ('Fretwork', 1), ('Funk Como Le Gusta', 16), ('Gene Krupa', 22), ('Gerald Moore', 1), ('Gilberto Gil', 32), ('Godsmack', 12), ('Gonzaguinha', 14), ('Green Day', 34), ("Guns N' Roses", 42), ('Gustav Mahler', 1), ('Göteborgs Symfoniker & Neeme Järvi', 1), ('Habib Koité and Bamada', 2), ('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 1), ('Heroes', 23), ('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 1), ('House Of Pain', 19), ('Incognito', 13), ('Iron Maiden', 213), ('Itzhak Perlman', 1), ('JET', 13), ('James Brown', 20), ('James Levine', 1), ('Jamiroquai', 32), ('Jimi Hendrix', 17), ('Joe Satriani', 10), ('Jorge Ben', 14), ('Jota Quest', 12), ('João Suplicy', 14), ('Judas Priest', 16), ('Julian Bream', 1), ('Karsh Kale', 2), ("Kent Nagano and Orchestre de l'Opéra de Lyon", 1), ('Kiss', 35), ('Led Zeppelin', 114), ('Legião Urbana', 31), ('Lenny Kravitz', 57), ('Leonard Bernstein & New York Philharmonic', 1), ('Les Arts Florissants & William Christie', 1), ('London Symphony Orchestra & Sir Charles Mackerras', 1), ('Lost', 92), ('Luciana Souza/Romero Lubambo', 1), ('Luciano Pavarotti', 1), ('Lulu Santos', 28), ('Marcos Valle', 17), ('Marillion', 10), ('Marisa Monte', 18), ('Martin Roscoe', 1), ('Marvin Gaye', 18), ('Maurizio Pollini', 1), ('Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 1), ('Men At Work', 10), ('Metallica', 112), ('Michael Tilson Thomas & San Francisco Symphony', 2), ('Michele Campanella', 1), ('Miles Davis', 37), ('Milton Nascimento', 26), ('Motörhead', 15), ('Mônica Marianno', 12), ('Mötley Crüe', 17), ('Nash Ensemble', 1), ('Nicolaus Esterhazy Sinfonia', 1), ('Nirvana', 29), ('O Rappa', 17), ('O Terço', 15), ('Olodum', 14), ('Orchestra of The Age of Enlightenment', 1), ('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 1), ('Os Mutantes', 14), ('Os Paralamas Do Sucesso', 49), ('Otto Klemperer & Philharmonia Orchestra', 1), ('Ozzy Osbourne', 32), ('Page & Plant', 12), ('Passengers', 14), ("Paul D'Ianno", 10), ('Pearl Jam', 67), ('Philharmonia Orchestra & Sir Neville Marriner', 1), ('Philip Glass Ensemble', 1), ('Pink Floyd', 9), ('Planet Hemp', 16), ('Queen', 45), ('R.E.M.', 41), ('R.E.M. Feat. Kate Pearson', 11), ('Raimundos', 10), ('Raul Seixas', 14), ('Red Hot Chili Peppers', 48), ('Richard Marlow & The Choir of Trinity College, Cambridge', 1), ('Roger Norrington, London Classical Players', 1), ('Royal Philharmonic Orchestra & Sir Thomas Beecham', 1), ('Rush', 14), ('Santana', 27), ('Scholars Baroque Ensemble', 1), ('Scorpions', 12), ('Sergei Prokofiev & Yuri Temirkanov', 1), ('Sir Georg Solti & Wiener Philharmoniker', 1), ('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 1), ('Skank', 23), ('Smashing Pumpkins', 34), ('Soundgarden', 17), ('Spyro Gyra', 21), ('Stevie Ray Vaughan & Double Trouble', 10), ('Stone Temple Pilots', 12), ('System Of A Down', 11), ('Temple of the Dog', 10), ('Terry Bozzio, Tony Levin & Steve Stevens', 7), ('The 12 Cellists of The Berlin Philharmonic', 1), ('The Black Crowes', 19), ('The Clash', 18), ('The Cult', 30), ('The Doors', 11), ("The King's Singers", 2), ('The Office', 53), ('The Police', 14), ('The Posies', 2), ('The Rolling Stones', 41), ('The Tea Party', 26), ('The Who', 20), ('Tim Maia', 30), ('Titãs', 38), ('Ton Koopman', 1), ('Toquinho & Vinícius', 15), ('U2', 135), ('UB40', 14), ('Van Halen', 52), ('Various Artists', 56), ('Velvet Revolver', 13), ('Vinícius De Moraes', 15), ('Wilhelm Kempff', 1), ('Yehudi Menuhin', 1), ('Yo-Yo Ma', 1), ('Zeca Pagodinho', 19)]

Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 4.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..
Retrying langchain_google_vertexai.chat_models._completion_with_retry.<locals>._completion_with_retry_inner in 4.0 seconds as it raised ResourceExhausted: 429 Online prediction request quota exceeded for gemini-1.5-pro. Please try again later with backoff..

A continuacion se muestra el nombre del artista y el numero total de canciones de cada artista:
AC/DC: 18
Aaron Copland & London Symphony Orchestra: 1
Aaron Goldberg: 1
Academy of St. Martin in the Fields & Sir Neville Marriner: 2
Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner: 1
Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair: 1
Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart: 1
Accept: 4
Adrian Leaper & Doreen de Feis: 1
Aerosmith: 15
... (truncated due to character limits)


> Finished chain.

In [20]:
response.get('output')

'A continuacion se muestra el nombre del artista y el numero total de canciones de cada artista:\nAC/DC: 18\nAaron Copland & London Symphony Orchestra: 1\nAaron Goldberg: 1\nAcademy of St. Martin in the Fields & Sir Neville Marriner: 2\nAcademy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner: 1\nAcademy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair: 1\nAcademy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart: 1\nAccept: 4\nAdrian Leaper & Doreen de Feis: 1\nAerosmith: 15\n... (truncated due to character limits)\n'

In [24]:
import markdown
f_response = markdown.markdown(response.get('output'))
print(f_response)

<p>A continuacion se muestra el nombre del artista y el numero total de canciones de cada artista:
AC/DC: 18
Aaron Copland &amp; London Symphony Orchestra: 1
Aaron Goldberg: 1
Academy of St. Martin in the Fields &amp; Sir Neville Marriner: 2
Academy of St. Martin in the Fields Chamber Ensemble &amp; Sir Neville Marriner: 1
Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner &amp; Sylvia McNair: 1
Academy of St. Martin in the Fields, Sir Neville Marriner &amp; Thurston Dart: 1
Accept: 4
Adrian Leaper &amp; Doreen de Feis: 1
Aerosmith: 15
... (truncated due to character limits)</p>

In [22]:
chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [2]:
import faiss
from langchain_community.docstore.in_memory import InMemoryDocstore
from langchain_community.vectorstores import FAISS

index = faiss.IndexFlatL2(len(hf.embed_query("hello world")))

vector_store = FAISS(
    embedding_function=hf,
    index=index,
    docstore=InMemoryDocstore(),
    index_to_docstore_id={},
)